<!Doctype html>
<html>
  <head>
    <title> Socket Connection</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.js"
      integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
      crossorigin="anonymous">
    </script>
  </head>
  
  <body>
    <h1>Working with the socket connections!!!</h1>
    <input id='user' type='text' placeholder='your name'>
    <button id='namebtn'>SetName</button>
    <input id='message' type='text' placeholder='your message'>
    <button id='msgbtn'>Send</button>
    <div id='msg'></div>
    <div id='chat'></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/socket.js"></script>
  </body>
</html>
